


:root{
    --balaji : rgb(58, 58, 116);
}

/* p{
    color: rgb(129, 31, 124);
} */
/* .classP{
    color: blueviolet;
} */
/* #forP{
    color: cyan;
} */



p::after{

}

input:focus{

}


.hellop{
    font-size: 1rem;

}